@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4a8bd0;
  --secondary: #171717;
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --font-primary: "Nunito Sans", Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.2);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  transition: background 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

.shadow-custom {
  box-shadow: 0 4px 8px var(--shadow-color);
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--primary);
  color: white;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.btn-primary:hover {
  background: #3a7abc;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.btn-secondary {
  background: var(--secondary);
  color: #171717;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.btn-secondary:hover {
  background: #f1f1f1;
  box-shadow: 0 4px 8px var(--shadow-color);
}

/* Smooth Animation for Marquee */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.highcharts-credits {
  display: none;
}
/* .highcharts-navigator  {
  display: none !important;
}
.highcharts-navigator-xaxis  {
  display: none !important;
}
.highcharts-axis-labels {
  display: none !important;
}
.highcharts-scrollbar {
  display: none !important;
} */

.leaflet-tooltip.district-label {
  font-size: 8px;
  font-weight: bold;
  color: black;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  text-align: center;
}

.leaflet-tooltip.waterAreas-label {
  font-size: 8px;
  font-weight: bold;
  color: #a8d4eb;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  text-align: center;
}
.custom-control {
  display: none !important;
}

.clip-trapezium {
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.static_image {
  width: 100%;
  height: 100%;
}

.highcharts-data-table table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  min-width: 100%;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 0.9em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  border: 1px solid silver;
  padding: 0.5em;
}
.highcharts-data-table tr:nth-child(even),
.highcharts-data-table thead tr {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #eff;
}
.highcharts-data-table caption {
  border-bottom: none;
  font-size: 1.1em;
  font-weight: bold;
}

.legend-container {
  z-index: 1000 !important;
  pointer-events: auto !important;
}

.leaflet-container {
  z-index: 10;
}

/* Loader Container */
.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 141, 224, 0.9); /* Match your theme color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 1s ease-in-out 4s forwards; /* Fade out after 4 seconds */
}

/* Welcome Text */
.welcomeText {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  overflow: hidden; /* Hide overflow for typing effect */
  white-space: nowrap; /* Keep text in one line */
  border-right: 0.15em solid white; /* Cursor effect */
  animation: typing 3.5s steps(40, end), blinkCursor 0.75s step-end infinite;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor Blink Animation */
@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Fade Out Animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* Hide after fading out */
  }
}

#maps-container {
  position: relative;
  z-index: 50;
}

.leaflet-container {
  z-index: 10 !important;
}
/* table */

.static_table {
  width: 100%;
}
.table_head {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.table_headings {
  background: #4a8bd0 !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  padding: 10px !important;
  margin-right: 10px !important;
  height: 50px !important;
}
.table_body {
  width: 100%;
}
.table_body_row {
  height: 70px !important;
  max-height: 70px !important;
}
.table_body_row_td {
  height: 70px !important;
  max-height: 70px !important;
  align-items: center !important;
  justify-content: center !important;
  /* margin-bottom: 4px !important; */
}
.table_body_row_td_img {
  height: 200px !important;
  max-height: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.table_body_row_td_h {
  width: 70px !important;
  color: #4a8bd0 !important;
  text-align: center !important;
  font-weight: bold !important;
  margin-right: 4px !important;
}
.rt {
  padding: 10px !important;
  background-color: #4a8bd0 !important;
}
/* table */
@media print {
  @page {
    size: A0 portrait; /* Paper size and orientation (portrait/landscape) */
    margin: 1cm; /* Optional: Adjust margins */
  }

  /* Hide non-printable elements */
  .no-print {
    display: none;
  }
  .page-break {
    page-break-before: always; /* Force a page break before this element */
  }

  .printable-content {
    margin: 0;
    padding: 0;
  }

  /* table */

  .static_table {
    width: 100%;
  }
  .table_head {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  .table_headings {
    background: #4a8bd0 !important;
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    padding: 10px !important;
    margin-right: 10px !important;
    height: 50px !important;
  }
  .table_body {
    width: 100%;
  }
  .table_body_row {
    height: 70px !important;
    max-height: 70px !important;
  }
  .table_body_row_td {
    height: 70px !important;
    max-height: 70px !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 4px !important;
  }
  .table_body_row_td_img {
    height: 200px !important;
    max-height: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .table_body_row_td_h {
    width: 70px !important;
    color: #4a8bd0 !important;
    text-align: center !important;
    font-weight: bold !important;
    margin-right: 4px !important;
  }
  .rt {
    padding: 10px !important;
    background-color: #4a8bd0 !important;
  }
  .table_body_row_td_img_five{
    height: 1200px !important;
    max-height: 1200px !important;
    width: 1200px !important;
    max-width: 1200px !important;
  }
  /* table */
}

.hide-element {
  display: none;
}
